<header id="main-header" class="z-3" role="banner">
    <div class="container-lg px-0">
        <nav class="navbar navbar-expand-lg" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" aria-label="FisioFácil - Ir para a página inicial">FisioFácil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FisioFácil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end  justify-content-lg-start flex-grow-1 pe-3" role="menubar">
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/servicos/">Serviços</a>
                            </li>
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/contato/">Contato</a>
                            </li>
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/profissionais/">Profissionais</a>
                            </li>
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/meus-agendamentos/">Meus Agendamentos</a>
                            </li>
                            <li class="nav-item" role="menuitem">
                                <a class="nav-link" href="/login/">Área do Profissional</a>
                            </li>
                        </ul>
                        <div
                            class="d-flex align-items-lg-center flex-column flex-lg-row text-start justify-content-start" role="complementary">
                            <a href="/agendar/" class="btn btn-success my-2 my-lg-0 f600">Agendar Agora <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>