{% extends 'base.html' %}

{% load static %} {% block titulo %}Página Inicial{% endblock %}

{% block conteudo %}
<div class="heros-home mb-5">
    <div class="backdrop"></div>
    <div class="overlay-cinza-rgba">
        <div class="conteudo-no-overlay text-start container menu-white">
            {% include 'menu.html' %}
            <h1 class="display-6 fw-bold text-white pt-5">Tratamentos de Fisioterapia</h1>
            <div class="col-lg-8 text-start">
                <p class="lead mb-4 text-white">Nossos fisioterapeutas experientes desenvolvem planos de tratamento
                    personalizados para cada paciente, utilizando técnicas avançadas e um toque humano.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
                    <button type="button" class="btn btn-success btn-lg gap-3 rounded-pill px-5">Agende Agora</button>
                    <button type="button" class="btn btn-outline-light btn-lg rounded-pill px-5">Ver
                        serviços</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 text-center">
    <h2 class="display-7 fw-bold text-color">Serviços em Destaque</h2>
    <div class="row row-cols-1 row-cols-md-3 g-2 d-flex justify-content-center">
        {% for servico in servicos_ativos.results %}
        <div class="col">
            <div class="card h-100 text-center border-0">
                <div class="card-body">
                    <h5 class="card-title text-color mb-5">{{ servico.servico_nome }}</h5>
                    <a href="/agendamentos/" class="btn btn-success rounded-pill px-4 f700">Agendar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}