{% extends 'base.html' %}

{% load static %} {% block titulo %}Página Inicial{% endblock %}

{% block conteudo %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <img src="{% static 'images/terapia.jpg' %}" width="350px" alt="Serviços de Fisioterapia">
        <h1 class="display-5 fw-normal text-info-emphasis">Serviços de Fisioterapia</h1>
        <p class="fs-5 text-body-secondary">Nossos fisioterapeutas experientes desenvolvem planos de tratamento
            personalizados para cada paciente, utilizando técnicas avançadas e um toque humano.</p>
        <p class="fs-5 fw-bold  text-info-emphasis">Agende sua avaliação gratuita agora e sinta a diferença!</p>
        <a href="/agendamentos/" class="btn btn-success"><i class="bi bi-calendar-week"></i> Agendar Agora</a>
    </div>

    <h2 class="text-center text-success-emphasis my-5"><i class="bi bi-boxes"></i> Serviços em Destaque</h2>
    <div class="row row-cols-1 row-cols-md-2 g-2">
        {% for servico in servicos_ativos.results %}
        <div class="col">
            <div class="card h-100 text-center shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ servico.servico_nome }}</h5>
                    <p class="card-text">Profissional: {{ servico.profissional_nome }}</p>
                    <a href="/agendamentos/" class="btn btn-success">Agendar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}