{% extends 'base.html' %}
{% load static %} {% block titulo %}FisioFácil - Agendamento de Serviços{% endblock %}

{% block conteudo %}
<div class="jumbotrons">
    <div class="container-lg px-0 d-flex align-items-sm-center">
        <div class="filter"></div>
        <div class="overlay"></div>
        <div class="row mt-5 pt-md-5">
            <div class="col-lg-6 col-md-12 col-sm-12 px-5">
                <h1 class="display-6 fw-bold">Tratamentos de Fisioterapia</h1>
                <p class="lead mb-4">Nossos fisioterapeutas experientes desenvolvem planos de tratamento
                    personalizados para cada paciente, utilizando técnicas avançadas e um toque humano.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
                    <a href="/agendar/" class="btn btn-success btn-lg gap-3 rounded-pill px-5">Agende
                        Agora</a>
                    <a href="/servicos/" class="btn btn-outline-light btn-lg rounded-pill px-5">Ver
                        serviços</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 text-center my-5">
    <h2 class="display-7 fw-bold text-color">Serviços em Destaque</h2>
    <div class="row row-cols-1 row-cols-md-3 g-2 d-flex justify-content-center">
        {% for servico in servicos_ativos.results %}
        <div class="col">
            <div class="card h-100 text-center border-0">
                <div class="card-body">
                    <h5 class="card-title text-color mb-5">{{ servico.servico_nome }}</h5>
                    <a href="/agendar/" class="btn btn-success rounded-pill px-4 f700">Agendar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}