{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}
<div class="container text-center mt-5">
    <h1 class="text-color text-center f700">Área do Profissional</h1>
    <p class="second-text-color">Logue fornecendo suas credenciais.</p>

    <div class="row row-cols-1 row-cols-md-3 g-2 my-5">
        <main class="form-signin w-100 m-auto" style="max-width: 350px;">
            <div class="card p-2 text-start">
                <form id="loginForm" class="row g-3" action="{% url 'token_obtain_pair' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="username" class="form-label f600">Usuário*</label>
                        <input type="text" class="form-control py-3" name="username" id="username" placeholder="Login">
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label f600">Senha*</label>
                        <input type="password" class="form-control py-3" name="password" id="password"
                            placeholder="sua senha">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Login</button>
                    </div>
                </form>
            </div>
            
        </main>
    </div>
</div>
<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = this;
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.access) {
                // Login bem-sucedido, armazene o token e redirecione
                localStorage.setItem('accessToken', data.access);
                localStorage.setItem('refreshToken', data.refresh);
                window.location.href = '/'; // Redirecione para a área logada
            } else if (data.error) {
                document.getElementById('error-message').textContent = data.error;
                document.getElementById('error-message').style.display = 'block';
            } else {
                document.getElementById('error-message').textContent = 'Credenciais inválidas.';
                document.getElementById('error-message').style.display = 'block';
            }
        })
        .catch(error => {
            document.getElementById('error-message').textContent = 'Ocorreu um erro na requisição.';
            document.getElementById('error-message').style.display = 'block';
            console.error('Erro:', error);
        });
    });
</script>

{% endblock %}
