{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}
<div class="container text-center mt-5">
    <h1 class="text-color text-center f700">Área do Profissional</h1>
    <p class="second-text-color">Logue fornecendo suas credenciais.</p>

    <div class="row row-cols-1 row-cols-md-3 g-2 my-5">
        <main class="form-signin w-100 m-auto" style="max-width: 350px;">
            <div class="card p-2 text-start">
                <form id="loginForm" class="row g-3" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="username" class="form-label f600">Usuário*</label>
                        <input type="text" class="form-control py-3" name="username" id="username" placeholder="Login">
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label f600">Senha*</label>
                        <input type="password" class="form-control py-3" name="password" id="password"
                            placeholder="sua senha">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Login</button>
                    </div>
                </form>
            </div>
            
        </main>
    </div>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
    event.preventDefault();

    var formData = new FormData(event.target);
    // O FormData já inclui os campos 'username', 'password' e o csrfmiddlewaretoken

    fetch("{% url 'login' %}", {
        method: "POST",
        body: formData,
    })
    .then(response => {
        if (response.ok) {
            // Redirecionar o navegador após o sucesso (a resposta JSON não fará isso)
            window.location.href = "{% url 'indexAdm' %}";
        } else {
            // Processar erros (você pode querer exibir uma mensagem no HTML)
            response.json().then(data => {
                console.error("Login failed:", data);
                // Aqui você pode atualizar a interface do usuário para mostrar a mensagem de erro
            });
        }
    })
    .catch(error => {
        console.error("An error occurred:", error);
        // Aqui você pode atualizar a interface do usuário para mostrar um erro de rede
    });
});
</script>

{% endblock %}
