<div class="container pt-2 menu">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4">
        <a href="/" class="d-flex align-items-center text-decoration-none">
            <span class="fs-4 menu-logo">FisioFácil</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-decoration-none menu-item" href="/">Home</a>
            <a class="me-3 py-2 text-decoration-none menu-item" href="/servicos/">Serviços</a>
            <a class="me-3 py-2 text-decoration-none menu-item" href="/contato/">Contato</a>
            <a class="me-3 py-2 text-decoration-none menu-item" href="/profissionais/">Profissionais</a>

            <a class="ms-5 me-3 py-2 text-decoration-none menu-item" href="/profissionais/">Área do Profissional</a>

            <a class="me-3 py-2 text-decoration-none menu-item btn btn-success f700" href="/agendamentos/">Agendar agora <i class="bi bi-arrow-right"></i></a>

            {% if user.is_authenticated %}
            Olá, {{ user.nome }}! <a class="me-3 py-2 text-decoration-none menu-item btn btn-success f700" href="/logout/">Sair</a>{% else %}
            <a  class="me-3 py-2 text-decoration-none menu-item btn btn-info f700" href="/login/">Login</a>
        {% endif %}
        </nav>
    </div>
</div>