{% extends 'base.html' %}

{% block titulo %}FisioFácil - Meus Agendamentos{% endblock %}

{% block conteudo %}
<div class="container-lg text-center mt-5">
    <h1 class="text-color text-center f700">Meus Agendamentos</h1>
    <p class="second-text-color">Informação dos agendamentos</p>
</div>

<div class="container-lg my-5">
    {% if not request.GET.cpf %}
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <form id="meusAgendamentos" class="needs-validation" novalidate>
                    <div class="row g-3 g-lg-5">
                        <div class="col-md-6 offset-3">
                            <label for="usuario_cpf" class="form-label f600">CPF*</label>
                            <input type="text" name="cpf" id="usuario_cpf" class="form-control py-3" placeholder=""
                                required>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-success f600 btn-lg">Consultar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    {% if request.GET.cpf %}
        <div class="row">
            <div class="col-lg-8 py-3">
                <form class="d-flex justify-content-between needs-validation" novalidate id="pesquisarCPF">
                    <div class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-8" style="position: relative;">
                            <input type="text" class="form-control border border-secondary" placeholder="Pesquisar"
                                style="padding-right: 2.5rem;" required>
                            <i class="bi bi-search"
                                style="position: absolute; right: 0.90rem; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-secondary">Filtrar <i
                                    class="bi bi-filter"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Horário</th>
                                        <th scope="col">Tratamento</th>
                                        <th scope="col">Sessão</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Confirmada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for agendamento in agendamentos %}
                                    <tr>
                                        <th scope="row">{{ agendamento.id }}</th>

                                        <td>{{ agendamento.data }}</td>
                                        <td>{{ agendamento.hora }}</td>
                                        <td>{{ agendamento.profissional_servico.servico_nome }}</td>
                                        <td>0</td>
                                        <td>{{ agendamento.taxa_formatada }}</td>
                                        <td>sim/não</td>
                                        <!-- <td>**DEBUG: {{ agendamento|pprint }}**</td> -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
</div>
{% endblock %}