{% extends 'base.html' %}

{% block titulo %}FisioFácil - Painel Administrativo{% endblock %}

{% block conteudo %}
<div class="container text-center mt-5">
    <h1 class="text-color text-center f700">Bem-vindo a área do profissional</h1>

    <div class="row row-cols-1 row-cols-md-3 g-2 pt-lg-5 my-5">
        <main class="form-signin w-100 m-auto" style="max-width: 350px;">
            
            <div id="login-form" class="row g-4">
                <div class="col-12">
                    <p class="text-color h4 f700">Favoritos</p>
                </div>
                <div class="col-12">
                    <a href="/adm/listar-agendamento/" class="btn btn-success-bold w-100 py-3 mt-2 text-color f700" type="submit">Agendamentos</a>
                </div>
                <div class="col-12">
                    <a href="/adm/listar-servico/" class="btn btn-success-bold w-100 py-3 mt-2 text-color f700" type="submit">Serviços</a>
                </div>
            </div>

        </main>
    </div>
</div>
{% endblock %}