{% extends 'base.html' %}

{% block titulo %}Lista de Profissionais{% endblock %}

{% block conteudo %}
    <h1 class="text-success-emphasis my-5"><i class="bi bi-people"></i> Profissionais</h1>

    <div class="row row-cols-1 row-cols-md-2 g-2">
        {% for profissional in profissional %}
        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-person-vcard"></i> {{ profissional.nome }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ profissional.cargo }}</h6>
                    <p class="card-text">{{ profissional.email }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}