{% extends 'template/base.html' %}

{% block titulo %}FisioFácil - Novo Serviço{% endblock %}

{% block conteudo %}
<div class="container-lg text-center mt-5">
    <h1 class="text-color text-center f700">Novo Serviço</h1>
    <p class="text-secondary">Informação do serviço</p>
</div>

<div class="container-lg my-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <form id="cadastrarServico" class="needs-validation" novalidate>{% csrf_token %}
                <div class="row g-5">
                    <div class="col-md-12">
                        <label for="servico_nome" class="form-label f600">Serviço*</label>
                        <input type="text" name="nome" id="servico_nome" class="form-control py-3"
                            placeholder="Nome do Serviço" required>
                    </div>
                    <div class="col-md-12">
                        <label for="servico_descricao" class="form-label f600">Descrição*</label>
                        <input type="text" name="descricao" id="servico_descricao" class="form-control py-3"
                            placeholder="Descreva o Serviço" required>
                    </div>
                    <div class="col-md-6">
                        <label for="servico_duracao" class="form-label f600">Duração*</label>
                        <input type="time" name="duracao" id="servico_duracao" class="form-control py-3"
                            placeholder="00h00min" required>
                    </div>
                    <div class="col-md-6">
                        <label for="servico_valor" class="form-label f600">Valor R$*</label>
                        <input type="text" name="valor" id="servico_valor" class="form-control py-3"
                            placeholder="R$0,00" required>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-adm btn-lg f600">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="erroModal" tabindex="-1" aria-labelledby="erroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="erroModalLabel">Erro!</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body" id="erroModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sucessoModal" tabindex="-1" aria-labelledby="sucessoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="sucessoModalLabel">Sucesso!</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body" id="sucessoModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    (() => {
        'use strict'

        const form = document.getElementById('cadastrarServico');
        const erroModal = new bootstrap.Modal(document.getElementById('erroModal'));
        const erroModalBody = document.getElementById('erroModalBody');
        const sucessoModal = new bootstrap.Modal(document.getElementById('sucessoModal'));
        const sucessoModalBody = document.getElementById('sucessoModalBody');

        // moeda
        const inputVALOR = document.getElementById("servico_valor");
        inputVALOR.addEventListener("keyup", formatarMoeda);
        function formatarMoeda(e) {
            var v = e.target.value.replace(/\D/g, "");
            v = (v / 100).toFixed(2) + "";
            v = v.replace(".", ",");
            v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
            v = v.replace(/(\d)(\d{3}),/g, "$1.$2,");
            e.target.value = v;
        }
        // moeda

        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            } else {
                event.preventDefault();

                const formData = new FormData(form);
                const data = {};
                formData.forEach((value, key) => {
                    if (key.startsWith('valor')) {
                        const valor = value.replace(/\./g, '').replace(',', '.');
                        data.valor = parseFloat(valor);
                    } else {
                        data[key] = value;
                    }
                });
                console.log('Dados a serem enviados:', data);

                fetch('/api/servicos/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(errorData => {
                                const errorMessage = typeof errorData === 'object' ? JSON.stringify(errorData) : errorData;
                                erroModalBody.textContent = `Erro na requisição: ${errorMessage}`;
                                erroModal.show();
                                throw new Error(JSON.stringify(errorData));
                            });
                        }
                        return response.json();
                    })
                    .then(result => {
                        console.log('Serviço criado:', result);
                        sucessoModalBody.textContent = 'Serviço criado com sucesso!';
                        sucessoModal.show();
                        form.reset();
                        form.classList.remove('was-validated');
                    })
                    .catch(error => {
                        console.error('Erro ao criar Serviço:', error);
                        let errorMessage = 'Ocorreu um erro ao criar o Serviço. Por favor, tente novamente.';
                        try {
                            const errorData = JSON.parse(error.message);
                            errorMessage = `Detalhes do erro: ${JSON.stringify(errorData)}`;
                            console.log('Detalhes do erro:', errorData);
                        } catch (e) {
                            console.log('Erro ao analisar detalhes do erro:', e);
                            errorMessage = `Ocorreu um erro inesperado: ${error.message}`;
                        }
                        erroModalBody.textContent = errorMessage;
                        erroModal.show();
                    });
            }
            form.classList.add('was-validated');
        }, false);
    })();
</script>
{% endblock %}