{% extends 'template/base.html' %}

{% block titulo %}FisioFácil - Agendamentos{% endblock %}

{% block conteudo %}
<div class="container-xxl text-center mt-5">
    <h1 class="text-color text-center f700 h3">Agendamentos</h1>

    <div class="row">
        <div class="col-lg-8 py-3">
            <form class="d-flex justify-content-between">
                <div class="row row-cols-lg-auto g-3 align-items-center">
                    
                    <div class="col-8" style="position: relative;">
                        <input type="text" class="form-control border border-secondary" placeholder="Pesquisar" style="padding-right: 2.5rem;">
                        <i class="bi bi-search" style="position: absolute; right: 0.90rem; top: 50%; transform: translateY(-50%);"></i>
                      </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-secondary">Filtrar <i class="bi bi-filter"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 py-3 text-end">
            <a href="/adm/cadastrar-agendamento/" class="btn btn-adm f600">Adicionar Novo <i class="bi bi-plus icon-lg"></i></a>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Especialidade</th>
                                    <th scope="col">Horário</th>
                                    <th scope="col">Pagamento</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for agendamento in agendamentos %}
                                <tr>
                                    <th scope="row">{{ agendamento.id }}</th>
                                    <td>{{ agendamento.data }}</td>
                                    <td>{{ agendamento.cliente_info.nome }}</td>
                                    <td>{{ agendamento.profissional_servico_info.servico_nome  }}</td>
                                    <td>{{ agendamento.hora}}</td>
                                    <td>
                                        {% if agendamento.pagamento.status == 'agendado' %}
                                            <span class="badge bg-warning text-dark">Agendado</span>
                                        {% elif agendamento.pagamento.status == 'confirmado' %}
                                            <span class="badge bg-success">Confirmado</span>
                                        {% elif agendamento.pagamento.status == 'cancelado' or agendamento.pagamento.status == 'cancelado_pelo_cliente' %}
                                            <span class="badge bg-secondary">Cancelado</span>
                                        {% elif agendamento.pagamento.status == 'realizado' %}
                                            <span class="badge bg-primary">Realizado</span>
                                        {% elif agendamento.pagamento.status == 'nao_compareceu' %}
                                            <span class="badge bg-secondary">Não Compareceu</span>
                                        {% else %}
                                            <span class="badge bg-secondary text-white">{{agendamento.pagamento.status}}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if agendamento.status == 'agendado' %}
                                            <span class="badge bg-warning text-dark">Agendado</span>
                                        {% elif agendamento.status == 'confirmado' %}
                                            <span class="badge bg-success">Confirmado</span>
                                        {% elif agendamento.status == 'cancelado' or agendamento.status == 'cancelado_pelo_cliente' %}
                                            <span class="badge bg-secondary">Cancelado</span>
                                        {% elif agendamento.status == 'realizado' %}
                                            <span class="badge bg-primary">Realizado</span>
                                        {% elif agendamento.status == 'nao_compareceu' %}
                                            <span class="badge bg-secondary">Não Compareceu</span>
                                        {% else %}
                                            <span class="badge bg-secondary text-white">{{agendamento.status}}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="/adm/visualizar-agendamento/{{ agendamento.id }}/" class="btn btn-link">
                                            <i class="bi bi-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}